%btn{
  background-color: $bg-color;
  border: 1px solid $text-color;
  padding: 20px 49px;
  font-family: $main-font;
  cursor: pointer;
}
.photo {
  padding-bottom: 66px;
  &__list {
    @include flex();
    flex-wrap: wrap;
  }
  &__img {
    margin-bottom: 62px;
  }
  &__filter {
    color: $filter-color;
    margin-bottom: 32px;
  }
  &__title {
   @include title();
  }
  &__text {
    color: $text-color;
  }
  &__item {
    margin-bottom: 130px;
    display: inline-block;
    width: 420px;
  }
  &__button-wrap {
    display: flex;
    justify-content: center;
  }
  &__btn {
    @extend %btn;
    &:hover,
    &:focus {
      color: $hover-color;
      border-color: $hover-color;
    }
  }
}
